h1 {
  padding: 10px;
  background-color: black;
	color: white;
}

div {
	font-size: 20px;
}

button{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black
}

button:hover{
  box-shadow: 0px 2px 2px 1px gray;
}
